.navbar{
    padding:2em 2em;
    background: black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    z-index: 100;
    a img{
        height: 5em;
    }
    .navbarRoutes{
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        a{
            text-decoration: none;
            font-size: 1.2em;
            color:white;
            &:hover{
                color:rgb(237, 28, 36);
            }
        }
    }

}
@media (max-width:450px){
    .navbar{
        flex-direction: column;
        align-items: center;
        a img{
            margin-bottom: 2em;
        }
        .navbarRoutes{
            width:100%;
            a{
                font-size: 1em;
            }
        }
    }
}
// @media (max-width:420px){
//     .navbar{
//         display: flex;
//         flex-direction: row;
//         a img{
            
//         }
//         .navbarRoutes{
//             display: flex;
//             flex-direction: column;
//             align-items: center;  
//             text-align: center;  
//             a{
//                 padding: .4em;
//             }
//         }
//     }
// }